{% extends 'base.html' %}

{% block body %}
    <div class="lft">
        <div class="modal" id="my-modal">
            <div class="modal_box">
                <form id="login-form" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <a class="forgot" href="{% url 'password_reset' %}">Forgot your password?</a><br><br>

                    <button class="btnl" type="submit">Log in</button>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}