{% extends 'base.html' %}

{% block title %}Enter new password • Unicorn AI{% endblock title %}

{% block body %}
<div class="lft">
    <div class="modal" id="my-modal">
        <div class="modal_box">
            <h1 class="mb-3">Create a new password</h1>
            <form  action="" method="post">
                {% csrf_token %}
                <div>
                    <label class="form-label" for="id_new_password1">New password:</label>
                    <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required=""
                        id="id_new_password1">
                </div>
                <div class="mt-2">
                    <label class="form-label" for="id_new_password2">New password confirmation:</label>
                    <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required=""
                        id="id_new_password2">
                </div>
                <button class="btns" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}