{% extends 'base.html' %}

{% block title %}Reset your password • Unicorn AI{% endblock title %}

{% block body %}
    <div class="lft">
        <div class="modal" id="my-modal">
            <div class="modal_box">
                <h1>Reset your password</h1>
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <label class="form-label" for="id_email">Email:</label>
                        <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
                    </div>
                    <button class="btns" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}