{% extends 'base.html' %}

{% load static %}

{% block title %}Resume Detail | Unicorn AI{% endblock %}

{% block body %}
<nav class="navbar navbar-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Unicorn AI</a>
    </div>
</nav>

<div class="container mt-4">
    <div class="card text-white bg-dark mb-3 mb-5">
        <div class="row g-0">
            <div class="col-md-4 d-flex justify-content-center align-items-center" style="overflow-y: hidden;">
                <img src="{{ object.owner.profile_picture.url }}" class="rounded-start w-100"
                    alt="{{ object.owner.name }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ object.owner.name }}</h5>
                    <p class="card-text"><strong>Username:</strong> {{ object.owner.username }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ object.owner.email }}</p>
                    <p class="card-text"><strong>Job Title:</strong> {{ object.job_title }}</p>
                    <p class="card-text"><strong>Skills:</strong> {{ object.skills }}</p>
                    <p class="card-text"><strong>Languages:</strong> {{ object.languages }}</p>
                    <p class="card-text"><strong>About:</strong> {{ object.about }}</p>
                    <p class="card-text"><strong>Experience:</strong> {{ object.experience }}</p>
                </div>
            </div>
        </div>
    </div>

    <form action="" method="post" class="d-flex justify-content-center col-lg-5 col-md-8 mb-2 mx-auto">
        {% csrf_token %}
        <input type="hidden" name="name" value="{{ object.owner.name }}">
        <input type="hidden" name="username" value="{{ object.owner.username }}">
        <input type="hidden" name="email" value="{{ object.owner.email }}">
        <input type="hidden" name="job_title" value="{{ object.job_title }}">
        <input type="hidden" name="skills" value="{{ object.skills }}">
        <input type="hidden" name="languages" value="{{ object.languages }}">
        <input type="hidden" name="about" value="{{ object.about }}">
        <input type="hidden" name="experience" value="{{ object.experience }}">

        <div class="input-group mb-4">
            <input type="text" class="form-control" name="question" placeholder="Ask AI about this person."
                aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn border bg-dark-subtle text-dark-emphasis border border-dark-subtle" type="submit">Ask
                AI</button>
        </div>
    </form>
</div>
{% endblock %}